*{
    padding:0px;
    margin:0px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #e6e6ea;
}

.container{
   padding: 10px; 
   overflow:hidden;
   background-color: #fe4a49;
}

 .container ul{ 
    list-style-type: none;
    font-size: 20px;
    margin: 0;
   padding-right: 42px;
  
}

.container li{
    margin-top: 10px;
    float: left;
    padding: 0 65px 0 65px;
}


.container li:hover{
    background-color: aquamarine;
}

.container a {
    text-decoration: none;
    color: black;
}
.current a::after{
    content: '_';
    background-color: white;
    font-size: 4px;
    display: block;

}

.contact{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
  
  }
  
  form{
    background: wheat;
    display:flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 950px;
    border-radius: 10px;
    margin-bottom: 20%;
  }
  
  h1{
    padding: 0 150px 0 150px;
    color:brown;
  }
  
  h2{
    padding: 0 20px 0 20px;
  }
  
  form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;;
  }
  
  form button{
    padding:15px;
    background:blue;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }
  

  .logo{
    height: 48px;
    float: left;
    margin: 16px 48px;
}
  