*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #e6e6ea;
}


.container{
   padding: 10px; 
   overflow:hidden;
   background-color: #fe4a49;
}

 h1{
    float: left;
    margin-left: 5%;
    color: black;
   margin-top: 2%;
   font-size: 4rem;

}
.motto{
    padding: 0 20px 0 20px;
   font-size: 2rem; 
   float: left;
   color:green;
}
.container ul{ 
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding-right: 42px;
   
}

.container li{
    margin-top: 10px;
    float: left;
    padding: 0 65px 0 65px;
}
.container li:hover{
    background-color: aquamarine;
}

.container a {
    text-decoration: none;
    color: black;
}
.current a::after{
    content: '_';
    background-color: white;
    font-size: 4px;
    display: block;

}

.wrapper{
    position: relative;
}
    .aboutschool{
        margin-top: 8%;
        padding: 0 20px 0 20px;
    }
.homephoto {
    width:90%;
    margin-top: 0%;
        right: 10%;
        margin-bottom: 5%;
        left: 10%;
        padding: 0px 20px 0px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.logo{
    height: 48px;
    float: left;
    margin: 16px 48px;
}

.bottom{
    margin-left: 10%;
}