p{
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    max-width: 500px;
    padding: 30px;
    }

ul{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif; 
}
table
th,
td {
    border:solid 1px;
    

}
.table{
    padding: 10px;  
    font-size: 1.5rem;
    max-width: 500px;
    font-family: 'Times New Roman', Times, serif; 

}
.color{
    padding: 10px; 
    overflow:hidden;
    background-color: #fe4a49;
    list-style-type: none;
     font-size: 20px;
     margin: 0;
     
 }
  h1{
     float: left;
     margin-left: 10%;
     color: black;
     margin-top: 10px;
 }
 
 .container li{
     margin-top: 10px;
     float: left;
     padding: 0 65px 0 65px;
 }
 
 .color a:hover{
     background-color: aquamarine;
 }
 
 .color a {
    text-decoration:none;
    color: black;
    font-weight: bold;
}

 .logo{
    height: 55px;
    float: left;
    margin: 0px 30px;
}

.current a::after{
    content: '_';
    background-color: white;
    font-size: 4px;
    display: block;

}
