*{
    padding:0;
    margin:0;
}
p{
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
        }

ul{
   
    padding: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
li{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
table
th,
td {
    border:solid 1px;
    padding: 30px;
    

}
.table{
    max-width: 500px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 

}
.color{
    padding: 10px; 
    overflow:hidden;
    background-color: #fe4a49;
    list-style-type: none;
     font-size: 20px;
     margin: 0;
     
 }
  h1{
     margin-left: 10%;
     color: black;
     margin-top: 10px;
 }
 
 .color a:hover{
     background-color: aquamarine;
 }
 
 .color a {
    text-decoration:none;
    color: black;
    font-weight: bold;
}

 .logo{
    height: 55px;
    float: left;
    margin: 0px 30px;
}

.current a::after{
    content: '_';
    background-color: white;
    font-size: 4px;
    display: block;

}
